<launch>
    <node name="uav_spawner" pkg="ctz_uav_simulation" type="uav_spawner.py" output="screen" args="verbose">
        <rosparam file="$(find ctz_uav_simulation)/config/spawner_params.yaml" />
        
        <remap from="~gazebo_model_states" to="/gazebo/model_states" />
        <remap from="~gazebo_spawn_model" to="/gazebo/spawn_sdf_model" />
        <remap from="~gazebo_delete_model" to="/gazebo/delete_model" />
    </node>
</launch>